/**
* @author Elias De Hondt
* @see https://eliasdh.com
* @since 09/05/2024
*/

/* Root */
:root {
  --dark: #0E0B17;
  --light: #6c757d;
  --grey: #AFAEB0;

  --primary-color: #4f94f0;
  --primary-color-light: #6ba8f1;
  --primary-color-dark: #3b7ed8;
}
/* Root */

/* Scrollbars */
body::-webkit-scrollbar {
  visibility: hidden;
}
/* Scrollbars */

/* Footer */
#Bottom {
  left: 50%;
  transform: translateX(-50%);
}
/* Footer */

/* General styles */
body {
  background-color: var(--dark);
  font-family: 'arial', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 10px;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* General styles */


.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawing_area {
  flex: 1;
  margin: 0px 0px 10px 0px;
}

.bar_graph_container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 200px;
  width: 300px;
}

.drawing_board {
  background-color: var(--light);
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.btn {
  background: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  cursor: pointer;
}

.btn:active {
  background-color: var(--primary-color-dark);
}

.clear {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Bar graph styles */
.bar_graph {
  height: 100%;
  background: var(--primary-color);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
}

.bar_graph .columns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.bar_graph .columns .category {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bar_graph .columns .category .bar {
  flex: 1;
  width: 25px;
  display: flex;
}

.bar_graph .columns .category .bar .bar_progress {
  height: 1%;
  width: 100%;
  background: var(--primary-color-light);
  align-self: flex-end;
}

.bar_graph .columns .category .label {
  text-align: center;
  margin-top: 7px;
  font-weight: 600;
  color: var(--primary-color-light);
}

.bar_graph .columns .category-active .bar .bar_progress {
  background: var(--light);
}

.bar_graph .columns .category-active .label {
  color: var(--light);
}
/* Bar graph styles */